body
{
	background-color: #f8f8f8;
}

.menu
{
	list-style-type: none;
}

a
{
	text-decoration: none;	
}

.menu a
{
	color: grey;
	font-size: 18px;
	font-family: Tahoma;
}

.menu a:hover
{
	color:rosybrown;
}

.item h2, caption
{
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
	text-align: left;
}

.item table
{
	border: 2px solid dimgray;
	width: 800px;
	border-collapse: collapse;
}

.item td
{
	border: 1px solid black;
	padding-left: 10px;
	height: 40px;
}

.item thead
{
	height: 50px;
	color: dimgray;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
}

.item .text-center
{
	text-align: center;
}

.item .this-item:hover
{
	background-color: pink;
}

.item img
{
	/* Такая рамка будет сдвигать все содержимое на странице, хоть и смотрится неплохо. 
	Лучше воспользоваться свойством outline
	padding:1px;
    border:1px solid gray;
	*/
	outline:2px solid black;
}

.item img:hover
{
	outline:none;
}

.item p:first-letter
{
	font-size: 120%;
	font-family: Tahoma;
}

/*
Классы можно объединять через запятую: .item, .descr {.....}
*/

.item-character
{
	list-style-image: url(../Images/star125.png);
	color: #484740;
	font-size: 16px;
	line-height: 24px;
	font-family: Euphemia;
}

.short-descr
{
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.descr
{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.catalog img
{
	width:150px;
}

form
{
	width: 600px;
}

legend
{
	color: #484343;
	font-size: 16px;
	font-family: Arial;
	font-weight: 100;
	line-height: 24px;
	text-transform: uppercase;
}

input[type="text"], input[type="email"], textarea
{
	color: purple;
	font-weight: 400;
	font-family: Arial;
	font-size: 14px;
	text-transform: capitalize;
	height: 30px;
}

input[type="email"]:focus
{
	color: lightsteelblue;
	background-color: whitesmoke;
}

input[placeholder="Тема"]
{
	width: 100%;
	font-weight: 900;
}

input[placeholder="Email"]
{
	width: 50%;
	float: right;
}

input[placeholder="Имя"]
{
	width: 40%;
}

.button
{
    background-color: silver;
    border: none;
    color: black;
    padding: 15px 90px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
}

.button[value="Очистить"]
{
	float: right;
}

textarea
{
	resize: none;
	width: 100%;
	height: 300px;
}

.logo
{
	width: 141px;
	float: left;
}